* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

@media screen and (max-width:576px) {

    .amaunt,
    .form,
    .theirlives,
    .theyneedus,
    .ourdonateplan {
        flex-direction: column;
    }

    #dolor {
        padding: 0px 0px 100px 0px;
        font-size: 20px;
    }

    .theirlives {
        flex-direction: column-reverse;
        gap: 50px;
    }

    .lives,
    .donated {
        width: 80%;
        margin: 50px 0 0 20px;
    }

    .font,
    .need {
        margin: 0px 0px 30px 25px;
        width: 80%;
    }

    .their,
    .they {
        margin: 0px 0px 30px 25px;
        width: 70%;
        font-size: 30px;
    }

    #butto,
    .how {
        margin-left: 25px;
    }

    .form {
        background-color: rgba(250, 242, 195, 0.864);
        color: #757575;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 50px 60px 60px 80px;
        margin: 50px 0px 100px 0px;
    }

    .email {
        padding: 5px 20px 5px 20px;
        width: 180px;
        height: 40px;
        font-size: 20px;
        background-color: #c8c8c8b0;
        border: 0;
        border-radius: 5px 0 0 5px;
    }

    .submit {
        height: 40px;
        width: 65px;
        gap: 0;
        margin: 0;
        border: 0;
        font-size: 12px;
        background-color: rgba(250, 78, 66, 0.948);
        color: aliceblue;
        border-radius: 0 5px 5px 0;
        position: relative;
        left: -10px;
        bottom: 3px;
    }

    .humble {
        padding: 50px 0 30px 0px;
    }

    .gonna {
        padding: 0 0 60px 0;
    }

    .rh {
        width: 200px;
        margin-left: 95px;
    }

    .head {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        color: aliceblue;
    }

    .lorem {
        font-size: 15px;
        padding: 0 15px 30px 15px;
    }

    .title {
        font-size: 30px;
        padding: 50px 10px 35px 10px;
    }

    .button {
        margin: 0 15px 40px 15px;
        padding: 8px 20px 8px 20px;
        border-radius: 5px;
        font-size: 15px;
    }


}


@media screen and (min-width:577px) {
    .dolor {
        padding: 0px 450px 100px 450px;
    }

    .ourdonateplan {
        margin: 0 250px 0 250px;
    }

    .theirlives,
    .theyneedus {
        justify-content: space-between;
        gap: 140px;
    }

    .lives {
        height: 400px;
        margin: 200px 400px 0 0;
        width: 500px;
    }

    .donated {
        margin: 80px 0px 30px 240px;
        width: 500px;
        height: 400px;
    }

    .they {
        margin: 80px 350px 30px 0;
    }

    .need {
        margin: 30px 200px 30px 0;
    }

    .texxt {
        padding: 0px 420px 100px 420px;
    }

    .their {
        margin: 200px 0px 30px 250px;
    }

    .font {
        margin: 0px 0px 30px 250px;
        width: 450px;
    }

    #butto {
        margin-left: 250px;
    }

    .form {
        padding: 100px 110px 110px 200px;
        margin: 0 250px 100px 300px;
        background-color: rgba(250, 242, 195, 0.864);
        color: #757575;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .email {
        padding: 5px 20px 5px 20px;
        width: 360px;
        height: 60px;
        font-size: 20px;
        border: 0;
        background-color: #c8c8c8b0;
        border-radius: 5px 0 0 5px;
    }

    .submit {
        height: 60px;
        width: 140px;
        gap: 0;
        margin: 0;
        border: 0;
        font-size: 20px;
        background-color: rgba(250, 78, 66, 0.948);
        color: aliceblue;
        border-radius: 0 5px 5px 0;
        position: relative;
        left: -10px;
    }

    .humble {
        padding: 100px 0 30px 0px;
    }

    .gonna {
        padding: 0 0 100px 0;
    }

    .ipsum {
        padding: 0px 450px 100px 450px;
    }

    .rh {
        margin-left: 450px;
        width: 650px;
    }

    .title {
        padding: 150px 180px 35px 180px;
        font-size: 60px;
    }

    .lorem {
        font-size: 20px;
        padding: 0px 250px 35px 250px;
    }

    .head {
        background-repeat: no-repeat;
        background-size: cover;
        padding: 150px;
        color: aliceblue;
        contain: content;
    }

    .title {
        font-size: 60px;
        padding: 150px 180px 35px 180px;
    }

    .lorem {
        font-size: 20px;
        padding: 0px 250px 35px 250px;
    }

    .button {
        padding: 20px 35px 20px 35px;
        border-radius: 10px;
        font-size: 20px;
    }


}




body {
    min-height: 100vh;
    width: 100vw;
    background-color: white;
    overflow-x: hidden;
}

/* header  */
.head {
    background-image: url(images/donation13.jpg);
    text-align: center;



}




.button {


    background-color: rgba(250, 78, 66, 0.948);
    border: 0;
    color: aliceblue;

}

/* main  */
/* donating */
.donating {
    text-align: center;
}

.donatetoday {
    font-size: 45px;
    padding: 100px 0px 20px 0px;
}

.ipsum {
    font-size: 20px;
    color: lightslategray;

}

.amaunt {
    font-size: 30px;
    font-weight: 800;
    display: flex;
    justify-content: center;
    gap: 24px;
}

.rh {
    text-align: center;
    border-top: 1px solid #d1cfcf;
}

.tk {
    padding: 30px 15px 30px 15px;
    background-color: #e2e2e253;
    color: #757575;
}

.other {
    padding: 100px 0 8px 0;
    font-size: 15px;
    color: #d1cfcf;
}

#but {
    margin: 30px 0 150px 0;
}

/* our donate plan */
.ourdonate {
    font-size: 45px;
    text-align: center;
    padding: 10px 0 20px 0;
}

.dolor {
    font-size: 30px;
    color: lightslategray;

    text-align: center;
}

.ourdonateplan {
    display: flex;
    gap: 25px;

}

.plan {
    font-size: 35px;
    font-weight: 700;
    padding: 40px 17px 20px 10px;
}

.text {
    font-size: 25px;
    padding: 10px;
    color: #757575;
}

.first {
    padding: 60px 80px 40px 20px;
    background-color: rgba(132, 168, 170, 0.234);
    border-radius: 5px;

    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}


.second {
    padding: 60px 80px 40px 20px;
    background-color: rgba(241, 196, 218, 0.368);
    border-radius: 5px;

    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.third {
    padding: 60px 80px 40px 20px;
    background-color: blanchedalmond;
    border-radius: 5px;

    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

/* Their lives depend on your donation */


.theirlives,
.theyneedus {
    display: flex;

}


.lives {
    border-radius: 5px;
}

.their,
.they {
    font-size: 45px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.font,
.need {
    font-size: 20px;
    color: #757575;

}

#butto {

    font-size: 20px;
}

.donated {
    border-radius: 5px;
}

.how {
    font-size: 20px;
}

/* They need us to suvive */
/* .theyneedus {
    margin: 80px 0 200px 200px;
    display: flex;
    gap: 100px;

}

.donated {
    width: 600px;
    height: 600px;
}

.they {
    font-size: 45px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0 280px 0 0;
}

.need {
    font-size: 20px;
    color: #757575;
    margin: 0 250px 40px 0;width: 450px;
}

.how {
    padding: 20px 35px 20px 35px;
    border-radius: 10px;
    background-color: rgba(250, 78, 66, 0.948);
    border: 0;
    color: aliceblue;
    font-size: 20px;
} */

#get {
    text-align: center;
}


.texxt {
    font-size: 20px;
    color: lightslategray;
}




.end-line {
    background-color: black;
    text-align: center;
}

.humble {
    color: rgb(255, 110, 110);
    font-size: 45px;
    font-family: 'Dancing Script', cursive;
    font-weight: bolder;
}

.gonna {
    color: #757575;
    font-size: 17px;
}